body {
  font-family: 'GFS Didot', serif;
  background-color: #eaeaea;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #eaeaea;
  text-align: center;
  padding: 20px 0;
  border-bottom: 5px solid #333; 
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header .tagline {
  font-size: 1.2em;
  color: #555;
  margin: 0;
  font-style: italic; 
}

header h1 {
  font-size: 3em;
  margin: 10px 0;
  font-weight: bold;
  color:  #555; 
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 20px 0 0;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
  padding: 10px 0;
  display: block;
  transition: color 0.3s, border-bottom 0.3s;
}

header nav ul li a:hover {
  color: #6a0dad; 
  border-bottom: 2px solid #6a0dad; 
}

.profile-section {
  text-align: center;
  padding: 50px 0;
  background: url('assets/Greek_Pattern.png') no-repeat center center;
  background-size: cover;
  color: #fff;
}

.profile-section h2, .profile-section p {
  color: #4d4949; 
}

.profile-section .social-icons {
  margin-top: 10px;
}

.profile-section .social-icons a {
  margin: 0 10px;
  display: inline-block;
  transition: transform 0.3s ease; 
}

.profile-section .social-icons a:hover {
  transform: scale(1.2); 
}

.profile-section .social-icons .icon {
  width: 24px;
  height: 24px;
}

.profile-image {
  border-radius: 50%;
  width: 170px;
  height: auto;
  border: 5px solid  #555; 
  transition: transform 0.3s ease; 
}

.profile-image:hover {
  transform: scale(1.1);
}

.section {
  padding: 50px 0;
  background-color: #f8f8f8; 

}

.container {
  width: 80%;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  color: #4d4949;
  margin-bottom: 20px;
  padding-bottom: 5px; /
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.experience-item, .blog-post, .about-item {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: 2px solid #bebebe;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(143, 143, 143, 0.1);
  padding: 10px; 
  transition: transform 0.3s ease; 
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.project-item {
  background: #fff;
  border: 2px solid #615c5c;;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  transition: transform 0.3s ease; 
}

.project-image:hover {
  transform: scale(1.05); 
}

.project-item h3 {
  margin: 15px;
  font-size: 1.5em;
  color:  #555; 
}

.project-item p {
  margin: 15px;
  font-size: 1em;
  color: #666;
}

.profile-image, .project-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.project-item, .blog-post{
  background: #fff;
  border: 2px solid #bebebe;;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(143, 143, 143, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center; /* Center align text and button */
}
.github-button, .read-more-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #565252;
  border: 2px solid #565252;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.github-button:hover, .read-more-button:hover {
  background-color: #3c3f44;
  transform: scale(1.05);
}

.github-button:focus, .read-more-button:focus {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#modal-body {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.section-padding {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.section-padding.visible {
  opacity: 1;
}


#contact {
  padding: 50px;
  background-color: #f9f9f9;
  text-align: center;
}

.section__text__p1 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.title {
  font-size: 2.5em;
  color: #413d3d;
  margin-bottom: 30px;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-info-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info-container img.icon {
  width: 40px;
  height: 40px;
}

.contact-info-container p {
  margin: 0;
  font-size: 1em;
  color: #555;
}

.contact-info-container a {
  color: #454545; 
  text-decoration: none;
}

.contact-info-container a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  border-top: 5px solid #eaeaea; 
}

footer p {
  margin: 0;
  padding: 10px 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

footer ul li a:hover {
  color: #ddd;
}

/* Responsive styles */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .tagline {
    font-size: 1em;
    text-align: center;
  }

  h1 {
    font-size: 1.5em;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 10px;
  }

  .tagline {
    font-size: 0.9em;
  }

  h1 {
    font-size: 1.2em;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 5px 0;
  }
}

@media (max-width: 768px) {
  footer ul {
    flex-direction: column;
  }

  footer ul li {
    margin: 5px 0;
  }
}


.profile-item {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #ffffff; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(142, 142, 142, 0.5); 
  padding: 10px;
  transition: transform 0.3s ease; 
  text-align: center; 
}

.profile-item img.profile-image {
  margin-bottom: 20px; 
}

.profile-item h2 {
  margin-bottom: 10px;
}

.profile-item p {
  margin-bottom: 20px; 
}

.profile-item .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px; 
}


.about-item {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.about-item h2 {
  margin-bottom: 10px; 
}

.about-item p {
  margin-bottom: 20px; 
}

.about-item ul {
  list-style-type: none;
  padding: 0;
}

.about-item ul li {
  margin-bottom: 10px;
}


.languages-tools table {
  width: 100%;
  border-collapse: collapse;
}
.languages-tools th, .languages-tools td {
  border: 2px solid #2c2c2c;
  padding: 8px;
  text-align: center;
}
.languages-tools th {
  background-color: #f2f2f2;
}
.languages-tools img {
  width: 30px;
  height: 30px;
}

.company-logo {
    width: 100px; 
    height: 100px; 
    border: 2px solid #b7b7b7; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(142, 142, 142, 0.5); 
  padding: 10px; 
  transition: transform 0.3s ease; 
    margin-bottom: 10px; 
}

.blog-image {
  width: 60%;
  height: auto;
  max-height: 300px;
  transition: transform 0.3s ease; 
}

.download-resume-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #484646;
  background-color: #fff;
  border: 2px solid #484646;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.download-resume-btn:hover {
  background-color: #484646;
  color: #fff;
}
.download-resume-btn:hover {
  transform: scale(1.05); 
}

.blog-post h3 {
  margin: 15px;
  font-size: 1.5em;
  color:  #555; 
}

.blog-post p {
  margin: 15px;
  font-size: 1em;
  color: #666;
}

/* Navigation link styles */
nav a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  display: inline-block;
}

.cover-photo {
  width: 90%;
  height: auto;
  max-width: 600px; 
  display: block;
  margin: 0 auto;
}

.creative-border {
  border: 5px solid #615c5c; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(142, 142, 142, 0.5); 
  padding: 10px;
  transition: transform 0.3s ease; 
}



@media (min-width: 768px) {
  .cover-photo {
    max-width: 800px; 
  }
}

@media (min-width: 1024px) {
  .cover-photo {
    max-width: 1000px; 
  }
}